body {
}

.priority {
    height: 45px;
    padding: 5px;
}

.calories {
    height: 50px;
    padding: 3px;
}

.intensity {
    float: right;
}

.exercise {
    padding-bottom: 10px;
}

.typeOfExercise {
    float: right;
    font-weight: bold;
}